html, body {
  width: 100%;
  height: 100%;
  background-color: lightgreen;
}

.container {
  margin-top: 8%;
}

.wins {
  font-style: bold;
  font-size: 1.25em;
  position: fixed;
  margin-left: 71%;
}

.wins_label {
  font-style: bold;
  font-size: 1.25em;
  position: fixed;
  margin-left: 66%;
}

.points {
  font-style: bold;
  font-size: 1.25em;
  margin-left: 2%;
}

.hand {
  width: 100%;
  height: 14em;
  margin-top: 2em;
  margin-bottom: 2em;
  border: 1em;
  background-color: lime;
}

.buttons {
  text-align: center;
  width: 10%;
}

button {
 text-align: center;
 width: 10%;
}

img {
  width: 7em;
  background-color: white;
  margin-bottom: 1.5em;
  margin-right: .5em;
  margin-left: .5em;
}

.modal {
  background-color: white;
  font-weight: bold;
  padding-top: 2em;
  padding-bottom: 2em;
  font-size: 1.2em;
  text-align: center;
  position: fixed;
  border-style: solid;
  border-radius: 25px;
  border-color: black;
  width: 400px;
  height: 175px;
  left: calc(50% - 200px);
  top: calc(50% - 150px);
  box-shadow: 10px 10px 5px #888888;
  z-index: 2;
}

.play_again {
  font-size: 1em;
  padding-top: .5em;
  padding-left: .5em;
  width: 3em;
  margin: 5% 5% 0 5%;
  text-align: center;
  border-radius: 25px;
}

.yes {
  background-color: lightgreen;
}

.no {
  background-color: red;
}
